th {
    padding-left: 20px;
    width: 40%;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    text-align: left;
	vertical-align: middle;
}

td {
    text-align: center;
    vertical-align: middle;
}

table {
    width: 400px;
    margin: auto;
}

.entry-field {
    padding: 20px;
    font-size: 20px;
    width: 200px;
    height: 30px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

.banner {
    background-image: url("${pageContext.request.contextPath}/img/library-banner.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.enter {
    margin-top: 20px;
    width: 360px;
    height: 50px;
    cursor: pointer;
	letter-spacing: 5px;
    background: green;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border: none;
}