table {
    border-collapse: collapse;
    width: 700px;
    margin: auto;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

th {
    text-align: left;
	vertical-align: center;
}